<!--Section One  -->
<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>The most subscribed Youtuber</h3>
            <p>
                <span>Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia dignissimos
                    eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid
                    quasi excepturi provident eos.</span>
            </p>
        </div>
    </div>

    <Footer class="bg-ligth text-white text-center p-2">
        <p class="h3">
            SG 2021 &copy;
        </p>
    </Footer>

    
</div>